harmonisation/TN_waterways_NWB_vaarwegen/beaconsbuoysschema.xsd

<?xml version="1.0" encoding="utf-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:noordzeevaarwegmarkeringenrd="http://noordzeevaarwegmarkeringenrd.geonovum.nl" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="http://noordzeevaarwegmarkeringenrd.geonovum.nl">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://geodata.nationaalgeoregister.nl/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="markdrijvendrdType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="gml_id" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="objectid" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vaarwater" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="benam_cod" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="benaming" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="inbedrijf" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="x_rd" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="y_rd" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_soort" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="iala_cat" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="n_wgs_gms" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="e_wgs_gms" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="n_wgs_gm" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="e_wgs_gm" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_vorm_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_vorm" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_kleur_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_kleur" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kleurpatr_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kleurpatr" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="v_tt_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_toptek" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_kleur_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_kleur" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_pat_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_klr_pat" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_kar_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_kar" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_gr_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_groep" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_perio" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="racon_code" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_kl_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_klr" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="opgeheven" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="x_wgs84" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="y_wgs84" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vorm_kleur" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom_valid" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:PointPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="markdrijvendrd" substitutionGroup="gml:AbstractFeature" type="noordzeevaarwegmarkeringenrd:markdrijvendrdType"/>
  <xsd:complexType name="markvastrdType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="gml_id" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="objectid" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vaarwater" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="benam_cod" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="benaming" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="inbedrijf" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="x_rd" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="y_rd" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="n_wgs_gms" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="e_wgs_gms" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="n_wgs_gm" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="e_wgs_gm" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_vorm_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_vorm_o" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_kleur_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_kleur" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kleurpatr_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kleurpatr" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="v_tt_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="v_toptek" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_kleur_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_kleur" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_pat_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tt_klr_pat" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_soort" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="iala_cat" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_kar_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_kar" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_gr_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_groep" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sign_perio" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="racon_code" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_kl_c" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_kl" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="opgeheven" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obj_hoogte" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_hgt" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_hoek" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_sync" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_rich" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_nr" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_1_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_1_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_1_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_2_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_2_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_2_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_3_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_3_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_3_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_4_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_4_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_4_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_5_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_5_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_5_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_6_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_6_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_6_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_7_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_7_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_7_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_8_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_8_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_8_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_9_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_9_k_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_9_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_10_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_10_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_10_1" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_11_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_11_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_11_1" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_12_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_12_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_12_1" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_13_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_13_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_13_1" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_14_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_14_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_14_1" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_15_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_15_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_15_1" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_16_g" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="licht_16_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lich_16_k" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="naut_funct" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="x_wgs84" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="y_wgs84" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vorm_kleur" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom_valid" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:PointPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="markvastrd" substitutionGroup="gml:AbstractFeature" type="noordzeevaarwegmarkeringenrd:markvastrdType"/>
</xsd:schema>
